body{
	display: flex;
	text-align: justify;
}
aside{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 20%;
	background-color: #FFC107;

}
main{
	display: flex;
	flex-direction: column; 
	width: 85%;

}