body{
	display: flex;
	text-align: justify;
	font-size: small;
	/*width: 665px;
	height: 939px;*/
}
aside{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 33%;
	height: auto;
	background-color: #FF7043;
}
aside h3{
	text-align: center;
	background-color: black;
	color: #FF7043;
	height: 45px;
	border: solid 1px white;
	font-size: 30px;
}
aside .fas{
	justify-content: space-between;
	font-size: 30px;
	border: solid 1px;
	border-radius: 50% 50% 50% 50%;
}
aside p{
	margin-left: 30px;
	margin-right: 30px;
}
.underline{
	text-decoration: underline red;
}
.loisirs{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
main{
	margin-left: 50px;
	width: 67%;
}
main .fas{
	color: red;
}
main .fa-circle{
	font-size: 10px;
}
main .fa-graduation-cap, .fa-toolbox, .fa-pencil-alt{
	font-size: 25px;
}
header{
	border: solid black 1px;
	height: 25%;
}
h1{
	font-size: 60px;
}
main h3{
	border-bottom: solid 1px red;
	margin-top: none;
}
main article{
	display: flex;
	flex-direction: row;
	border: solid 1px blue;
	width: auto;
	height: auto;
}
main h3{
	display: inline;
	margin: -10px;
}
main h4{
	font-weight: bold;
	display: inline;
}
time{
	display: flex;
	width: 200px;
	height: auto;
}
.rside{
	width: auto;
	height: auto;
	border: solid 1px;
	width: 40%

}
.lside{
	border: solid 1px;
	height: auto;
	width: 60%;
		
}
.rec{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: auto;
	height: 75px;
	border: solid green 3px;
}
.bot{
	flex-direction: column;
	display: inline;
	width: 150px;
	height: 75px;
}
