body{
	font-family: sans-serif;
	display: flex;
	flex-direction: row;
}
aside{
	background-color: #FF7043; 
	width: 35%;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}
aside h3{
	background-color: #424242;
	font-size: 40px;
	text-align: center;
	color: #FF7043;
}
aside section{
	width: 100%;
}
#photo{
	display: flex;
	justify-content: center;

}
img{
	width: 250px;
	height: 250px;
	justify-content: center;
	border-radius: 50%;
}
#PhotoContent{
	justify-content: center;
	text-align: center;
	font-size: 50%;
	border: solid 2px #e57373;
}
#ContactContent{
	text-align: left;
	padding-right: 20px;
	padding-left: 20px;
}
aside .propos{
	text-align: left;
}
#propos{
	padding-right: 15px;
	padding-left: 15px;	
}
#loisirs{
	width: 100%;
}
#loisirsContent{
	display: flex;
	justify-content: space-around;
}
aside .fas{
	border: solid 2px black;
	border-radius: 100%;
	width: 45px;
	height: 45px;
	line-height: 1.5;
}
main{
	padding-left: 60px;
	padding-right: 50px;
	width: 65%;
}
.underline{
	border-bottom: solid 1px red;
}
main .fas{
	color: red;
	border-bottom: red 1px;
}
main .fa-circle{
	font-size: 10px;
	padding-bottom: 5px;
}
main .fa-graduation-cap, .fa-toolbox, .fa-pencil-alt{
	font-size: 35px;
}
header{
	padding-top: 7em;
	padding-bottom: 7em;
}
h1{
	font-size: 70px;
	margin: 0;
	padding-bottom: 0; 
	font-weight: normal;
}
#name{
	font-weight: bold;
	color: red;
}
h2{
	margin-top:10px;
	margin-bottom: 90px;
	font-size: 40px;
	color:#263238;
}
.h3{
	display: flex;
}
.trait{
	width: 100%;
	border-bottom: solid 2px red;
}
main h3{
	margin-top: -1em;
	margin-bottom: 0.5em;
	padding-left: 50px;
	font-size: 30px;
	margin-left: 25px;
}
main article{
	display: flex;
	flex-direction: row;
	width: auto;
	padding-top: 2em;
	padding-bottom: 1em;
	font-size: 20px;
}
main h4{
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 0.5em;
	margin-bottom: 0em;
	font-size: 20px;
}
main h5{
	margin-top: 0.5em;
	margin-bottom: -0.5em;
	font-weight: normal;
	font-size: 20px
}
.rside{
	display: flex;
	flex-direction: column;
	width: 40%;
	margin-right: 20px;
}
time{ 
	display: flex;
	width: auto;
	padding-left: 50px;
	margin-top: -1em;
	font-weight: bold;
}
.lside{
	display: flex;
	flex-direction: column;
	width: 60%;
	margin-right: 15px;
}
.rec{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: auto;	
}
.bot{
	flex-direction: column;
	display: inline;
	width: auto;
	padding-bottom:
}


/* responsive*/

@media screen and (max-width: 991.98px){
	body{
		display: flex;
		flex-flow: column-reverse wrap;
		margin: 0;
		text-align: center;
	}
	main{
		width: 100%;
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 0;
	}
	main section{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	main article{
		width:  100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	aside {
		width: 100%;
	}
	main time{
		display: flex;
		justify-content: center;
		width: 100%;
		text-align: center;
		font-size: 1em;
		margin-bottom: 1em;
		margin: 0;
	}
	main .lieu{
		width: 100%;
		padding-bottom: 1em;
	}
	main .lieu2{
		padding-bottom: 1em;
	}
	.lside{
		width: 100%;
		text-align: center;
		flex-wrap: wrap;
		margin: 0;
	}
	.rside{
		width: 100%;
		margin: 0;
	}
	main .fa-graduation-cap, main .fa-pencil-alt, main .fa-toolbox{
		display: flex;
		flex-direction: row;
	}
	main .fa-bullseye{
		display: flex;
		flex-direction: row;
		font-size: 10px;
		padding-left: 50%;
		margin: 0;
	}
	main .fa-circle{
		display: flex;
		flex-direction: row;
		padding-left: 50%;
	}
	main .rec{
		flex-direction: column;
		font-size: 1em;
	}
	#photo{
		display: flex;
		justify-content: center;
	}
	img{
		justify-content: center;
	}
	#PhotoContent{
		text-align: center;
	}
}
